body {
	text-align: center;
	position: relative;
	height: 80vh;
}

.container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.container > header {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 25px;
}

.container >  main > form > div {
	margin-bottom: 25px;
}

.txtUserInput {
	padding: 5px;
	min-width: 250px;
	min-height: 30px;
}

#btnLogin {
	min-width: 250px;
	min-height: 25px;
}

#btnLupaPass {
	min-width: 125px;
	min-height: 25px;
}